$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #ecf0f1;
$text-color: #2c3e50;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.tos {
	text-align: center;
	&__header {
		position: relative;
		display: flex;
		padding-top: 8rem;
		padding-bottom: 5rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #e69925;
		margin-top: -1px;
		border-bottom-left-radius: 50em 10%;
		border-bottom-right-radius: 50em 10%;
		overflow: hidden;
		min-height: 25vh;

		&__heading {
			font-size: 3.2rem;
			font-weight: 600;
			letter-spacing: 0.7rem;
		}

		&__description {
			font-size: 2rem;
			font-weight: 400;
			margin-top: 2rem;
			letter-spacing: 0.1rem;
		}
	}

	&__body {
		// height: 72vh;
		padding-top: 10rem;
		padding-bottom: 40rem;
		background-image: url("../../assets/bgfooter.png");
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: left;
		font-size: 3rem;
		color: #fffde3;

        .document{
            width: 80%;
            font-weight: 300;
        }

		.heading-primary {
			font-size: 5rem;
			color: #4fa095;
		}

		&__landing{
			opacity: 0;
  			transform: translateY(200px);
  			animation: reveal 1s ease-out forwards;
			font-size: 3em;
  			margin: 0.5em 0;
  			background: linear-gradient(to right, $primary-color, $secondary-color);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;

			@media (max-width: $breakpoint-md) {
    			font-size: 2em;
  			}

  			@media (min-width: $breakpoint-lg) {
    			font-size: 3.5em;
  			}

			@keyframes reveal {
  				from {
    				opacity: 0;
    				transform: translateY(20px);
  				}
  				to {
    				opacity: 1;
    				transform: translateY(0);
  				}
			}
		}
	}
}

.bold{
    font-weight: 400;
    font-size: 3.5;
}

.bold-head{
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 8rem;
}



@media screen and (max-width: 600px){
    .tos{

        &__body{
            padding-bottom: 20rem;

            .document{
                width: 98%;
            }
        }

    }
}